body {
    font-family: 'Cabin', sans-serif;
  }
  
  .navbar-brand {
    font-family: 'Lobster', cursive;
  }
  .carousel-indicators {
    position: relative;
    list-style: none;
    margin-top: 35px;
  }
  
  .carousel-indicators > li {
    border-radius: 50%;
    height: 25px !important;
    width: 25px !important;
    background-color: black !important;
  }
  .ricomida-text {
    font-family: 'Lobster', cursive;
  }
  